@import './global.scss';

h1,
p {
  font-family: Lato;
}

.app {
  position: relative;
  height: 100vh;
}

button + button {
  margin-left: 20px;
}

.btn.btn-primary:disabled {
  background-color: #d1d5ec;
  color: #192da1;
  font-weight: 500;
  border-color: transparent;
  cursor: not-allowed;
}

.error {
  color: red;
  padding-top: 4px;
  font-size: 13px;
}

.append {
  position: relative;
}

.icon-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
}
