@import './global.scss';

h1,
p {
  font-family: Lato;
}

.app {
  position: relative;
  height: 100vh;
}

button + button {
  margin-left: 20px;
}

.btn.btn-primary:disabled {
  background-color: #d1d5ec;
  color: #192da1;
  font-weight: 500;
  border-color: transparent;
  cursor: not-allowed;
}

.error {
  color: red;
  padding-top: 4px;
  font-size: 13px;
}

.append {
  position: relative;
}

.icon-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
}

.error-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .err-common-img {
    height: 70%;
    width: 53%;
    min-height: 500px;
    background-size: contain;
    border-radius: 2px;
  }

  .error-img {
    background: url('https://i.postimg.cc/DfpxLX5N/8030434-3828547.jpg') no-repeat;
  }

  .no-match-img {
    background: url('https://i.postimg.cc/cJMvGfr4/5060708-2634442.jpg') no-repeat;
  }

  .error-msg {
    padding-top: 50px;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Delius Unicase', cursive;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(-300px)
  }
  to {
    transform: translateX(0)
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-300px)
  }
  to {
    transform: translateX(0)
  }
}

.wissen-toast {
  padding-bottom: 20px;
  padding-right: 10px;
  .toast {
    animation: slide-in 0.1s ease-in-out;
    .toast-body {
      color: white;
    }
  }
  .toast.show {
    animation: slide-out 0.1s ease-in-out;
  }
}